
.black-text{
    color: #c07c45;
}
.search_bar_blog {
     /* Updated value to flex-end */
    justify-content: end;
    margin-top: 20px;
    margin-right: 120px;
  }
  
  /* Rest of your CSS code... */
  
  /* Additional styles for the search input if needed */
  .ant-input-search-button {
    border-top-right-radius: 20px; /* Adjust the border radius as needed */
    border-bottom-right-radius: 20px; /* Adjust the border radius as needed */
    background-color: #1890ff; /* Adjust the button background color as needed */
    color: #fff; /* Adjust the button text color as needed */
    transition: background-color 0.3s ease;
  }
  
  .ant-input-search-button:hover {
    background-color: #096dd9; /* Adjust the button background color on hover as needed */
  }

  
.cardMain{
    height: 500px;
}
.cardMain img{
    height: auto;
}
.card-heading h4{
    color: #623D2B;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    letter-spacing: normal;
}
.card-paragraph h4{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    letter-spacing: normal;
}
.readMore{
    margin-top: auto;
}
.Writer{
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    color: black;
}

.cards_blog_1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    margin-top: 30px;
    padding: 20px;
  }


  .cards_blog_2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    
  }

@media screen and (max-width: 1200px) {
    .cardMain{
        height: 450px;
    }
  }
  

@media screen and (max-width: 992px) {
    .search_bar_blog {
        /* Updated value to flex-end */
       justify-content: end;
       margin-top: 20px;
       margin-right: 60px;
     }

    .cardMain{
        height: auto;
    }

    .cardImage{
        height: auto;
    }
    .cards_blog_2 {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
      }
}


@media screen and (max-width: 768px) {
    .search_bar_blog {
        /* Updated value to flex-end */
       justify-content: end;
       margin-top: 20px;
       margin-right: 50px;
     }

    .cardMain{
        height: auto;
    }
    .card-heading h4{
        color: #623D2B;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        letter-spacing: normal;
    }

    .card-paragraph h4{
        font-family: "Poppins", sans-serif;
        font-size: 8px;
        letter-spacing: normal;
    }
    .readMore button{
        margin-top: auto;
        font-size: 10px;
    }
}